body {
  background-color: #333333 !important;
  color: #ffffff !important;
}

a {
  color: #58a6ff !important;
}

a:hover {
  color: #79c0ff !important;
}

code,
pre,
.highlight {
  background-color: #444444 !important;
  color: #ffffff !important;
}
